<p id="notice"><%= notice %></p>
<div class="body">
<div class="header">
  <h1>Electronics</h1>
</div>
<% @devices.each do |device| %>
<div class="square">
  <div class="content">
      <div class="hovereffect">
        <%= image_tag("https://" + device.picture, class: "img-responsive") %>
        <div class="overlay">
           <h2><%= device.name.truncate(18, omission: "...") %></h2>
           <%= link_to 'More', device, class: 'info' %>
        </div>
      </div>
  </div>
</div>
<% end %>
</div>
