  <div class="parallax-img">
    <div class="image-text">
      <h1 class="image-title">Fashion Tree</h1>
      <p class="lead">Economical and Ecological Clothing</p>
    </div>
  </div>


  <div class="container">
    <div class="text-box">
      <h2> About </h2>
      <div id="about">
        Fashion Tree is for the economically and environmentally concerned shopper. As students, we understand that it's not easy to be eco
        friendly on a budget. Not only do many affordable brands have questionable ecological practices, brands that are eco friendly are often twice the
        price! Finding important products like clothes and electronics that are both eco friendly and affordable is like finding a needle in a haystack.
        Spending the time to read page after page of products only to find the one eco friendly option just isn't practical. Fortunately, Fashion Tree
        can solve this problem!
      </div>
      </div>
    </div>
    <div class="parallax-img-2"> </div>
    <div class="container">
      <div class="text-box">
        <h2> How </h2>
        <div id="how">
          Fashion Tree scans various product websites for critical information about the product, such as material composition, sourcing,
          price and energy cost. From there, a custom algorithm determines the environmental impact of the product.
          Furthermore, it compiles the overall impact of a given brand and displays it.
        </div>
      </div>
    </div>
    <div class="parallax-img-3"></div>
