  <div class="parallax-img">
    <div class="image-text">
      <h1 class="image-title">Fashion Tree</h1>
      <p class="lead">Economical and Ecological Clothing</p>
    </div>
  </div>


  <div class="container">
    <div class="text-box">
      <h2> About </h2>
      <div id="about">
        Fashion Tree is the application for the environmentally and economically concerned shopper. As students, we understand that it's not easy to be eco
        friendly on a budget. Not only do many affordable brands have questionable ecological practices, brands that are eco friendly are often twice the
        price! Finding clothing that is both eco friendly and affordable is like finding a needle in a haystack. Fortunately, Fashion Tree can solve this problem!
      </div>
      </div>
    </div>
    <div class="parallax-img-2"> </div>
    <div class="container">

      <h2> How </h2>
      <div id="how">
        Fashion Tree analyzes the material composition of the clothing, along with the sourcing and price, then, using a custom
        algorithm, it determines the environmental impact of the clothing. Furthermore, it compiles the overall impact of a given
        brand and displays it.
      </div>
    </div>
