/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: 'Lato';
}

.image-text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    color: white;
}
.image-title {
    font-weight: lighter;
    font-size: 8em;
}
.lead {
    font-size: 22px !important;
}

.image-text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 20%;
    width: 100%;
    color: white;
}

.image-title {
    font-weight: lighter;
    font-size: 8em;
}

.body {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 15%;
}

.text-box {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 1.5em;
}
.products {
    margin-top: 10%;
    margin-left: 4%;
}
.header {
    margin-bottom: 100px;
}

$bgDefault: transparent;
$bgHighlight: #fff;
$colDefault: #000;
$colHighlight: #000;

.navbar {
    height: 71px;
}
.navbar-default {
    transform: translateY(-20px);
    background-color: $bgDefault;
    border-color: $bgDefault;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight;
        }
    }
    .navbar-text {
        transition-duration: .3s;
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                font-size: 15px;
                &:hover, &:focus {
                    color: $colHighlight;
                    cursor: pointer;
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }
    .container, .navbar-header {
        display: inline;
    }
}

ul {
    display: inline;
    list-style: none;
}

li {
    display: inline;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-header {
    text-align: center;
    display: block;
    position: relative;
    left: 21%;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
}

.lead {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000;
    position: relative;
}
h2 {
    color: #000;
    text-transform: none;
    font-size: 40pt;
    transform: translateY(-20px);
}

h2:hover {
    color: #000;
    cursor: pointer;
}

.navbar-left {
    margin-left: 40px;
}

.navbar-right {
    position: relative;
    right: 40px;
}
.navbar-collapse {
    transition-duration: .4s;
    max-height: 54px !important;
}
.navbar-collapse:hover {
    background-color: #fff;
}
