
.parallax{
    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-img {
    background-image: image-url("fashion-background-large.jpg");
    @extend .parallax;
}

.parallax-img-2 {
    background-image: image-url("electronics-background-large.jpg");
    height: 400px;
    @extend .parallax
}

.parallax-img-3 {
    background-image: image-url("fashion-background-large-2.jpg");
    @extend .parallax
}

@media (max-device-width: 860px) {
    .parallax-img {
        background-image: image-url("fashion-background-small.jpg");
    }
    .parallax-img-2 {
        background-image: image-url("electronics-background-small.jpg");
    }
    .parallax-img-3 {
        background-image: image-url("fashion-background-small-2.jpg");
    }
}

@media (max-device-width: 500px) {
    .parallax-img {
        background-image: image-url("fashion-background-tiny.jpg");
    }
    .parallax-img-2 {
        background-image: image-url("electronics-background-tiny.jpg");
    }
    .parallax-img-3 {
        background-image: image-url("fashion-background-tiny-2.jpg");
    }    
}
.image-text {
    color: white;
}

