// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    font-family: 'Lato';
}

.container {
    width: 90% !important;
}

.product-brand {
    font-size: 13px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 0px !important;
}

.left {
    float: left;
    max-width: 20%;
    margin: 0;
    padding: 1em;
}

.left .section-head {
    display: block;
    width: 100%;
    padding: 6px 0px 6px 27px;
    background: #f4f4f4;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #232323;
}

.control {
    display: block;
    position: relative;
    padding-left: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

label {
    font-size: 13px !important;
    color: #1a1a1a;
    font-weight: normal !important;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 1px solid #979797;
    background: #fff;
    transition-duration: 0.1s;
    border-radius: 2px;
    font-size: 1.2rem;
}

.control:hover input {
    width: 11px;
    height: 11px;
    border-width: 2px;
}

.control input:checked ~ .control__indicator {
    background: #979797;
}

.left center {
    display: block;
}

.left center .price-input:first-child {
    margin-right: 17px;
}

.left .section-price {
    margin-bottom: 28px;
}

.price-input {
    color: #4a4a4a;
    border: 1px solid #979797;
    width: 40%;
    padding: 10px 10px;
}

.price-input input {
    display: inline-block;
    outline: none;
    border: 0;
    text-align: center;
    width: 27%;
    font-size: 12px;
}

article {
    margin-left: 20%;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.square {
    float:left;
    position: relative;
    width: 21%;
    padding-bottom: 35%;
    margin: 1.66%;
    margin-bottom: 0px;
}

.content {
    position: absolute;
    height: 100%;
}

.content img {
    margin: 0px;
}

.square .content p {
    margin: 0px;
}

.square .content #price {
    font-weight: 900;
}

.good-score,
.ok-score,
.bad-score {
    font-weight: 900 !important;
}

.good-score {
    color: #228B22;
}

.ok-score {
    color: #FFD700;
}

.bad-score {
    color: red;
}

.product-brand {
    text-transform: uppercase;
}

.img-responsive {
    height: 99% !important;
}

.square .content a {
    display: table;
    width: 169px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.square .content a span {
    display: none;
}

.square .content a:hover span {
    width: 184px;
    height: 232px;
    line-height: 210px;
    position: absolute;
    left: 0;
    top: 0; display: block; text-align: center;
    background: transparent;
}

span b {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 6px 8px;
    background: #000;
    color: #fff;
    font-family: 'Lato';
}

.content a:hover span b:hover {
    background: #000;
    cursor: pointer;
}

.content a img {background: #e7e7e7; border: none; vertical-align: bottom;}

.modal {
    position: absolute;
    z-index: 2017;
    width: 340px;
    height: 459px;
    background: #fff;
    display: block;
    margin: 0 auto;
    border: none !important;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    border: none !important;
}

.modal-title {
    font-weight: normal;
}

#prod-image {
    position: relative;
    height: auto;
    background: #fff;
    margin: 0;
    padding: 0;
}

#prod-image > img{
    left: 0;
    top: 0;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.modal-img {
    width: 100%;
}

table {
    border-collapse: collapse;
}
tr {
    padding: 0;
}

td {
    width: 50%;
    vertical-align: top;
    padding: 5px;
    border: 1px solid gray;
    margin: 0;
}

#buy {
    display: block;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    float:right;
    font-family: 'Lato';
    border: none;
    margin: 10px;
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
}
