<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
<style>
.navbar-collapse {
    max-height: 54px !important;
    background: #fff;
}
</style>
<body>

<div class="container">

<br><br>
<div class="left">
    <p class="section-head">Category</p>
    <label class="control control--checkbox">Men
        <input id="check-men" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Women
        <input id="check-women" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Kids
        <input id="check-kids" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>

    <p class="section-head section-price">Price</p>
    <center>
        <span class="price-input">$<input id="check-price-min" class="price-min" type="number" placeholder="Min"></span>
        <span class="price-input">$<input id="check-price-min" class="price-max" type="number" placeholder="Max"></span>
    </center>
<br>
    <p class="section-head">Brand</p>
    <label class="control control--checkbox">H&M
        <input id="check-hm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Nordstorm
        <input id="check-nordstorm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Uniqlo
        <input id="check-uniqlo" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
</div>
<script>
$('#check-men').change(function() {
    if ($('#check-men').is(':checked')) {
        $('.card-men').show();
    } else {
        $('.card-men').hide();
    }
    console.log('men');
});
$('#check-women').change(function() {
    if ($('#check-women').is(':checked')) {
        $('.card-women').show();
    } else {
        $('.card-women').hide();
    }console.log('wmen');
});
$('#check-kids').change(function() {
    if ($('#check-kids').is(':checked')) {
        $('.card-kids').show();
    } else {
        $('.card-kids').hide();
    }console.log('kids');
});
$('#check-hm').change(function() {
    if ($('#check-hm').is(':checked')) {
        $('.card-hm').show();
    } else {
        $('.card-hm').hide();
    }console.log('hm');
});
$('#check-nordstorm').change(function() {
    if ($('#check-nordstorm').is(':checked')) {
        $('.card-nordstorm').show();
    } else {
        $('.card-nordstorm').hide();
    }console.log('nordstorm');
});
$('#check-uniqlo').change(function() {
    if ($('#check-uniqlo').is(':checked')) {
        $('.card-uniqlo').show();
    } else {
        $('.card-uniqlo').hide();
    }console.log('uniqelo');
});
</script>

<article>
    <% @products.each do |product| %>
        <% content_tag(:div, class: "strong") %>
        <div class="square">
            <div class="content">
                <%= image_tag("https://" + product.picture, class: "img-responsive") %>
                <h2>UNIQLO</h2>
                <p><%= product.name %></p>
                <p id="price">$<%= product.price %></p>
            </div>
        </div>
    <% end %>
</article>

</div>

</body>
