<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

<body>

<div class="container">

<br><br>
<div class="left">
    <p class="section-head">Category</p>
    <label class="control control--checkbox">Men
        <input type="checkbox" checked="checked"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Women
        <input type="checkbox"/>
        <div class="control__indicator"></div>
    </label>

    <p class="section-head section-price">Price</p>
    <center>
        <span class="price-input">$<input class="price-min" type="number" placeholder="Min"></span>
        <span class="price-input">$<input class="price-max" type="number" placeholder="Max"></span>
    </center>
<br>
    <p class="section-head">Brand</p>
    <label class="control control--checkbox">H&M
        <input type="checkbox" checked="checked"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Nordstorm
        <input type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Uniqlo
        <input type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
</div>

<article>
    <% @products.each do |product| %>
    <div class="square">
        <div class="content">
            <%= image_tag("https://" + product.picture, class: "img-responsive") %>
            <h2>UNIQLO</h2>
            <p><%= product.name %></p>
            <p id="price">$<%= product.price %></p>
        </div>
    </div>
    <% end %>
</article>

</div>

</body>
