<p id="notice"><%= notice %></p>
<div class="products">
<div class="header">
  <h1>Products</h1>
</div>
<% @products.each do |product| %>
<div class="square">
  <div class="content">
      <div class="hovereffect">
        <%= image_tag(product.picture, class: "img-responsive") %>
        <div class="overlay">
           <h2><%= product.score %></h2>
           <%= link_to 'More', product, class: 'info' %>
        </div>
      </div>
  </div>
</div>
<% end %>
</div>
