<div class="navbar navbar-default navbar-fixed-top">

    <ul>
        <li>
            <% if current_page?(root_path) %>
                <%= link_to "About", root_path(:anchor=> "about") %>
            <% else %>
                <%= link_to "About", welcome_index_path(:anchor=> "about") %>
            <% end %>
        </li>
        <li>
            <%= link_to "Products", products_path %>
        </li>
    </ul>
    
    <center>
            <a href="../" class="navbar-brand">Fashion Tree</a>
    </center>
</div>
