<div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-collapse collapse" id="navbar-main">
         <ul class="nav navbar-nav">
         <li>
            <% if current_page?(root_path) %>
            <%= link_to "About", root_path(:anchor => "about") %>
            <% else %>
            <%= link_to "About", welcome_index_path(:anchor => "about") %>
            <% end %>
         </li>
         <li>
            <%= link_to "Clothes", products_path %>
         </li>
         <li>
            <%= link_to "Electronics", devices_path %>
         </li>
      </div>
      <div class="header">
          <h1>FashionTree</h1>
      </div>
   </div>
</div>
